{{ if .Params.the_products }}
{{ $comma := false }}
{{$.Scratch.Set "position" 1}} 


<script type="application/ld+json"> {
    "@context": "http://schema.org",
    "@type": "ItemList",
    "url": "{{.Permalink | absURL }}",
    "name": "{{.Title}}",
    "itemListElement": [
    {{- range .Params.the_products }}
    {{- if $comma }},{{- end }}
        { "@type": "ListItem", "position":"{{$.Scratch.Get "position"}}{{$.Scratch.Add "position" 1}}", "url": "{{ .Permalink | absURL }}#{{.name | urlize}}", "@id": "{{.name | urlize}} ", "name": "{{.name}}" }
    {{- $comma = true }}
    {{- end }}
    ]}
</script>



{{ end }}
