<section class="explore-cats ez-homepage-section listingResultsWrapper" id="explore-categories">
    <header>
        <h2 class="list-title" style="border: none;background-color:var(--mainColor);color:var(--textColor);">Explore Categories</h2>
    </header>
    <div class="home-hero-sub-posts">
        <!-- 1 -->
        <a href="/motherboards/" class="explore-cat" style="background-image: url(/uploads/motherboards-bg.webp);">
            <div class="explore-block"></div>
            <h3>Motherboards</h3>
        </a>
        <!-- 2 -->
        <a href="/cpus/" class="explore-cat" style="background-image: url(/uploads/cpu-bg.webp);">
            <div class="explore-block"></div>
            <h3>Processors</h3>
        </a>
        <!-- 3 -->
        <a href="/rams/" class="explore-cat" style="background-image: url(/uploads/ram-bg.webp);">
            <div class="explore-block"></div>
            <h3>RAMs</h3>
        </a>
    </div>
</section>